@font-face {
    font-family: "Mulish";
    src: url(/assets/fonts/Mulish-ExtraLight.ttf);
  }

body{
    background-color: #f8fff5;
}

div {
    margin: 30px;
}

div.text{
    margin-left: 40%;
    text-align: justify;
}

div.main{
    text-align: center;
    margin: 50px;
}
