@font-face {
  font-family: "Mulish";
  src: url(/assets/fonts/Mulish-ExtraLight.ttf);
}

body {
  background-color: #f8fff5;
  font-family: "Mulish", sans-serif;
}

div {
  margin: 30px;
}

div.text {
  margin-left: 10%;
  text-align: left;
}

div.main {
  text-align: center;
  margin: 50px;
}
