@font-face {
  font-family: "Mulish";
  src: url(/assets/fonts/Mulish-ExtraLight.ttf);
}
p {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 25px;
}
a {
  color: black;
}
